<div class="text-center">
    <div style="display: -webkit-inline-box;">
        <h2>Comandas - Cadastro de Pedido</h2>
        <span *ngIf="(produtos$ | async).isLoading" style="right: 15px; position: absolute;">
            <span class="spinner-border text-secondary" role="status">
                <span class="sr-only">Loading...</span>
            </span>
        </span>
    </div>
    <hr />
</div>

<div class="text-center">
    <h4>Comanda: {{comandaNumero}}</h4>
</div>


<div *ngIf="produtos$ | async as produtos" class="text-right">
    <button type="button" class="btn btn-dark" [disabled]="produtos.isLoading" (click)="abrirModalItem()">
        <i class="fa fa-plus-circle"></i>
        Adicionar Produto
    </button>
</div>
<br />
<div *ngIf="itensDePedido.length > 0">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Observacao</th>
                <th scope="col">Valor</th>
                <th scope="col">#</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of itensDePedido">
                <td>{{item.nome}}</td>
                <td>{{item.observacao}}</td>
                <td>{{item.valor}}</td>
                <td>ACT</td>
            </tr>
        </tbody>
    </table>
    <div class="text-right">
        <h5><b>Total: R$ {{getTotal()}}</b></h5>
    </div>
    <div class="col-md-12">
        <label for="observacao_pedido">Observacao</label>
        <input type="text" class="form-control" id="observacao_pedido"
            [(ngModel)]="observacao_pedido" />
    </div>
    <br/>
    <div class="text-right">
        <button type="button" class="btn btn-dark" (click)="salvarPedido()">
            <i class="fa fa-plus-circle"></i>
            Finalizar Pedido
        </button>
    </div>
</div>

<div class="modal fade modal-timeline" bsModal #modal="bs-modal" aria-labelledby="dialog-static-name" role="dialog"
    tabindex="-1" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Selecione o Produto</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="fecharModalItem()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" [formGroup]="form" [ngClass]="{ 'was-validated': isSubmitted }"
                    novalidate>
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="produto">Produto</label>
                            <select class="custom-select" id="produto" formControlName="produtoId" required>
                                <option selected disabled value="">Selecione um produto</option>
                                <ng-container *ngIf="produtos$ | async as produtos">
                                    <option *ngFor="let produto of produtos.data" [ngValue]="produto.id">
                                        {{ produto.nome }}</option>
                                </ng-container>

                            </select>
                            <div class="invalid-feedback">
                                O produto é obrigatorio
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="observacao">Observacao</label>
                            <input type="text" class="form-control" id="observacao" formControlName="observacao" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" (click)="fecharModalItem()">
                    <i class="fa fa-id-card"></i>
                    Cancelar
                </button>

                <button type="button" (click)="submitModalItem()" class="btn btn-success" disableButtonDuringRequest>
                    <i class="fa fa-plus-circle"></i>
                    Adicionar
                </button>
            </div>
        </div>
    </div>
</div>