<div class="text-center">
    <div style="display: -webkit-inline-box;">
        <h2>Comanda - Detalhe</h2>

        <span *ngIf="data$ | async as comandaDetalhada" style="right: 15px; position: absolute;">
            <span *ngIf="comandaDetalhada.isLoading" class="spinner-border text-secondary" role="status">
                <span class="sr-only">Loading...</span>
            </span>
        </span>
    </div>
    <hr />
</div>

<div *ngIf="data$ | async as comandaDetalhada">
    <h1>{{ comandaDetalhada.errorMessage }}</h1>
    <div *ngIf="comandaDetalhada.comanda" class="text-center">
        <h5>Comanda: {{comandaDetalhada.comanda.numero}}</h5>
    </div>
    <br />
    <div class="text-right">
        <a *ngIf="comandaDetalhada.comanda && comandaDetalhada.comanda.situacaoId == 1"
            routerLink="/comandas/{{comandaDetalhada.comanda.id}}/cadastrar-pedido" class="btn btn-dark">Fazer
            Pedido</a>
    </div>
    <br />
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><b>Pedidos</b></h5>
            <div *ngIf="comandaDetalhada.comanda && comandaDetalhada.comanda.pedidos.length > 0">
                <ng-container *ngFor="let pedido of comandaDetalhada.comanda.pedidos">
                    <div class="card" [ngClass]="pedido.situacaoId == 3 ? 'cancelado' : ''">
                        <div class="card-body">
                            <h6 class="card-title">N°: {{pedido.id}} | Data: {{pedido.data | date: 'dd/MM/yyyy HH:mm' : 'GMT-8'}} |
                                Situação: {{pedido.situacao}}
                            </h6>
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Peoduto</th>
                                        <th scope="col">Observacao</th>
                                        <th scope="col">Valor</th>
                                        <th scope="col">Situacao</th>
                                        <th scope="col">#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of pedido.itens"
                                        [ngClass]="item.situacaoId == 5 ? 'cancelado' : ''">
                                        <td>{{item.produto}}</td>
                                        <td>{{item.observacao}}</td>
                                        <td>{{item.valor}}</td>
                                        <td>{{item.situacao}}</td>
                                        <td class='text-center'>
                                            <button *ngIf="showBtnCancelar(item)" class="btn btn-dark"
                                                title="Cancelar Item do Pedido"
                                                (click)="abrirModal(ACAO_CANCELAR, pedido.id, item.id, item.produto)">
                                                <i class="fa fa-ban"></i>
                                            </button>
                                            &nbsp;
                                            <button *ngIf="item.situacaoId == 3" class="btn btn-dark"
                                                title="Entregar Item do Pedido"
                                                (click)="abrirModal(ACAO_ENTREGAR, pedido.id, item.id, item.produto)">
                                                <i class="fa fa-share-square"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br />
                </ng-container>
                <br />
                <div class="text-right">
                    <h6>SubTotal: R$ {{total + desconto}}</h6>
                    <h6>Desconto: R$ {{desconto}}</h6>
                    <h5><b>Total: R$ {{total}}</b></h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-timeline" bsModal #modal="bs-modal" aria-labelledby="dialog-static-name" role="dialog"
    tabindex="-1" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">{{getModalAcaoDescricao()}} Item de Pedido</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="fecharModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Tem certeza que deseja {{getModalAcaoDescricao()}} o item <b>{{produto}}</b> do
                    pedido
                    <b>{{pedidoId}}</b> ?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" (click)="fecharModal()">
                    <i class="fa fa-ban"></i>
                    Cancelar
                </button>
                <button type="button" (click)="submitModal()" class="btn btn-success" disableButtonDuringRequest>
                    <i class="fa fa-check"></i>
                    {{getModalAcaoDescricao()}}
                </button>
            </div>
        </div>
    </div>
</div>