<div class="text-center">
    <div style="display: -webkit-inline-box;">
        <h2>Comanda - Detalhe</h2>

        <span *ngIf="data$ | async as comandaDetalhada" style="right: 15px; position: absolute;">
            <span *ngIf="comandaDetalhada.isLoading" class="spinner-border text-secondary" role="status">
                <span class="sr-only">Loading...</span>
            </span>
        </span>
    </div>
    <hr />
</div>

<div *ngIf="data$ | async as comandaDetalhada">
    <h1>{{ comandaDetalhada.errorMessage }}</h1>
    <div *ngIf="comandaDetalhada.comanda" class="text-center">
        <h5>Comanda: {{comandaDetalhada.comanda.numero}}</h5>
    </div>
    <br />
    <div class="text-right">
        <a *ngIf="comandaDetalhada.comanda && comandaDetalhada.comanda.situacaoId == 1"
            routerLink="/comandas/{{comandaDetalhada.comanda.id}}/cadastrar-pedido" class="btn btn-dark">
            <i class="fa fa-check"></i>
            Fazer Pedido
        </a>
    </div>
    <br />
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><b>Pedidos</b></h5>
            <div *ngIf="comandaDetalhada.comanda && comandaDetalhada.comanda.pedidos.length > 0">
                <ng-container *ngFor="let pedido of comandaDetalhada.comanda.pedidos">
                    <div class="card" [ngClass]="pedido.situacaoId == 3 ? 'cancelado' : ''">
                        <div class="card-body">
                            <h6 class="card-title">N°: {{pedido.id}} | Data:
                                {{pedido.data | date: 'dd/MM/yyyy HH:mm' : 'GMT-8'}} |
                                Situação: {{pedido.situacao}}
                            </h6>
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Peoduto</th>
                                        <th scope="col">Observacao</th>
                                        <th scope="col">Valor</th>
                                        <th scope="col">Situacao</th>
                                        <th scope="col">#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of pedido.itens"
                                        [ngClass]="item.situacaoId == 5 ? 'cancelado' : ''">
                                        <td>{{item.produto}}</td>
                                        <td>{{item.observacao}}</td>
                                        <td>{{item.valor}}</td>
                                        <td>
                                            {{item.situacao}}
                                            <ng-container *ngIf="item.situacaoId == 1">
                                                <p>Prioridade: {{getPriodadeDescricao(item.producaoPrioridadeId)}}</p>
                                            </ng-container>
                                        </td>
                                        <td class='text-center'>
                                            <button *ngIf="showBtnCancelar(item)" class="btn btn-dark"
                                                title="Cancelar Item do Pedido"
                                                (click)="abrirModal(ACAO_CANCELAR, pedido.id, item.id, item.produto)">
                                                <i class="fa fa-ban"></i>
                                            </button>
                                            &nbsp;
                                            <button *ngIf="item.situacaoId == 3" class="btn btn-dark"
                                                title="Entregar Item do Pedido"
                                                (click)="abrirModal(ACAO_ENTREGAR, pedido.id, item.id, item.produto)">
                                                <i class="fa fa-share-square"></i>
                                            </button>
                                            &nbsp;
                                            <button *ngIf="item.situacaoId == 1" class="btn btn-dark"
                                                title="Priorizar Produção do Item de Pedido"
                                                (click)="abrirModalPrioridade(pedido.id, item.id, item.producaoPrioridadeId, item.produto)">
                                                <i class="fa fa-hourglass-half"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br />
                </ng-container>
                <br />
                <div class="text-right">
                    <h6>SubTotal: R$ {{total + desconto}}</h6>
                    <h6>Desconto: R$ {{desconto}}</h6>
                    <h5><b>Total: R$ {{total}}</b></h5>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <div class="text-right">
        <button class="btn btn-dark" title="Fechar Comanda" (click)="abrirModalComanda()">
            <i class="fa fa fa-money"></i>
            Fechar Comanda
        </button>
    </div>
    <br/>
    <br/>
</div>

<div class="modal fade modal-timeline" bsModal #modal="bs-modal" aria-labelledby="dialog-static-name" role="dialog"
    tabindex="-1" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">{{getModalAcaoDescricao()}} Item de Pedido</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="fecharModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Tem certeza que deseja {{getModalAcaoDescricao()}} o item <b>{{produto}}</b> do
                    pedido
                    <b>{{pedidoId}}</b> ?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" (click)="fecharModal()">
                    <i class="fa fa-ban"></i>
                    Cancelar
                </button>
                <button type="button" (click)="submitModal()" class="btn btn-success" disableButtonDuringRequest>
                    <i class="fa fa-check"></i>
                    {{getModalAcaoDescricao()}}
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-timeline" bsModal #modal_prioridade="bs-modal" aria-labelledby="dialog-static-name"
    role="dialog" tabindex="-1" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Priorizar Item de Pedido</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="fecharModalPrioridade()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Produto: {{produto}}</h5>
                <h6>Prioridade: {{getPriodadeDescricao(pedidoitemPrioridadeId)}}</h6>
                <br />
                <br />
                <form class="needs-validation" [formGroup]="form_prioridade"
                    [ngClass]="{ 'was-validated': isSubmitted }" novalidate>
                    <div class="form-row">
                        <div class="col-md-12">
                            <label for="prioridadeId">Prioridade</label>
                            <select class="custom-select" id="prioridadeId" formControlName="prioridadeId" required>
                                <option selected value="">Selecione uma prioridade</option>
                                <option *ngIf="pedidoitemPrioridadeId != PRIORIDADE_NORMAL" value="1">Normal</option>
                                <option *ngIf="pedidoitemPrioridadeId != PRIORIDADE_ALTA" value="2">Alta</option>
                                <option *ngIf="pedidoitemPrioridadeId != PRIORIDADE_URGENTE" value="3">Urgente</option>

                            </select>
                            <div class="invalid-feedback">
                                A prioridade é obrigatoria
                            </div>
                        </div>
                    </div>
                </form>
                <br />
                <br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" (click)="fecharModalPrioridade()">
                    <i class="fa fa-ban"></i>
                    Cancelar
                </button>
                <button type="button" (click)="submitModalPrioridade()" class="btn btn-success"
                    disableButtonDuringRequest>
                    <i class="fa fa-check"></i>
                    Priorizar
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade modal-timeline" bsModal #modal_comanda="bs-modal" aria-labelledby="dialog-static-name"
    role="dialog" tabindex="-1" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg" *ngIf="data$ | async as comandaDetalhada">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Fechar Comanda</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="fecharModalComanda()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Tem certeza que deseja fechar a comanda <b>{{comandaDetalhada?.comanda?.numero}}</b> com o valor a
                    ser pago de <b>R$ {{total}}</b> ? </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" (click)="fecharModalComanda()">
                    <i class="fa fa-ban"></i>
                    Cancelar
                </button>
                <button type="button" (click)="submitModalComanda()" class="btn btn-success" disableButtonDuringRequest>
                    <i class="fa fa-check"></i>
                    Fechar
                </button>
            </div>
        </div>
    </div>
</div>